<div class="h-50 bg-white">
  <img src="../../../assets/login_background.png" style="width: 100%; object-fit: fill; height: 100%;">
  <div class="w-100 text-center h-50" style="position: absolute; top: 0%;">
    <img class="m-auto my-5" src="../../../assets/logo_fgv.png"/>
    <p style="font-size: 14.35px; font-weight: 700; line-height: 14.87px; text-align: center; color: rgba(64, 19, 28, 1);">FGV Agri Services Sdn Bhd<br/>(FGVAS)</p>
  </div>
</div>
<ion-list class="h-50 bg-white">
  <div *ngIf="resetPass" >
    <ion-chip outline color="tertiary">
      <ion-icon size="large" color="danger" name="warning-outline"></ion-icon>
      <ion-label style="font-size: x-small; color: darkblue;">new_pass_sent</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </div>
  <div class="mx-auto" style="max-width: 300px;">
    <form (ngSubmit)="onLoginBtnClicked(form)" #form="ngForm">
      <ion-item lines="full">
        <ion-label position="floating">No Kakitangan</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Kata Laluan</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>
      <!-- <a [routerLink]="['/forgot-password']" class="forgot-password">forgot password?</a> -->
      <ion-row>
        <ion-col class="text-center my-4">
          <button [disabled]="" type="submit" class="btn primary-red text-white w-100 mx-auto">Log Masuk</button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-list>