<ion-content>
  <app-logout-button></app-logout-button>
  <app-user-info-header></app-user-info-header>
  <div class="text-center mx-auto" style="width: 90%;">
    <div class="imageContainer w-100">
      <!-- when no photo -->
      <img  *ngIf="serverImage==null && photo==null" src="../../../assets/placeholder.png" alt="Snow">
      <button *ngIf="serverImage==null && photo==null" (click)="takePicture()" class="btn">+</button>
      <!-- when have photo -->
      <img *ngIf="photo!=null" class="rounded mx-auto" [src]="photo.dataUrl"/>
      <button *ngIf="photo!=null" (click)="erasePicture()" class="btn-danger">
        <ion-icon name="trash-outline"></ion-icon>
      </button>
      <!-- photo from server -->
      <img *ngIf="serverImage!=null" class="rounded mx-auto" [src]="serverImage"/>
    </div>
  </div>

  <form #form="ngForm" class="mx-auto my-2" style="max-width: 300px;">
    <ion-item *ngIf="taskType == 'balut'" lines="full">
      <ion-label position="floating">Petugas Balut</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="taskType == 'balut'" lines="full">
      <ion-label position="floating">No Pokok</ion-label>
      <ion-input type="text" [(ngModel)]="treeNum" name="treeNum" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="taskType == 'balut' || taskType == 'qc' || taskType == 'pollen-prep'" lines="full">
      <ion-label position="floating">No Daftar</ion-label>
      <ion-input type="text" [(ngModel)]="regNo" name="regNo" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="taskType == 'qc' || taskType == 'pollen-prep'" lines="full">
      <ion-label position="floating">Penyelia QC</ion-label>
      <ion-input type="text" [(ngModel)]="qcSv" name="qcSv" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="taskType == 'pollen-prep'" lines="full">
      <ion-label position="floating">Status Bunga</ion-label>
      <ion-input type="text" [(ngModel)]="flowerStatus" name="flowerStatus" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Tarikh</ion-label>
      <ion-input type="text" [(ngModel)]="date" name="date" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="taskType == 'debung' || taskType == 'pollen-prep' || taskType == 'debungposponed'" lines="full">
      <ion-label position="floating">Masa</ion-label>
      <ion-input type="text" [(ngModel)]="time" name="time" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="defect != null" lines="full">
      <ion-label position="floating">Kerosakan</ion-label>
      <ion-input type="text" [(ngModel)]="defect" name="defect" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="taskType == 'tuai' && defect == null" lines="full">
      <ion-label position="floating">Berat Tandan</ion-label>
      <ion-input type="text" [(ngModel)]="weight" name="weight" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Catatan</ion-label>
      <ion-input type="text" [(ngModel)]="remark" name="remark" [readonly]="userRole!='Petugas Balut & Pendebungaan Terkawal' && userRole!='Petugas Kawalan Kualiti'"></ion-input>
    </ion-item>
    <ion-item  lines="full" class="my-4" *ngIf="((userRole=='Petugas Balut & Pendebungaan Terkawal') && defect == null)">
      <ion-select placeholder="Pilih Penyelia" id= "id1" #id1 >
        <ion-select-option *ngFor="let sv of userList" value={{sv.no_kakitangan}}>{{sv.nama}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="userRole=='Penyelia Balut & Pendebungaan Terkawal' || userRole=='Penyelia Kawalan Kualiti'" lines="full">
      <ion-label position="floating">Catatan Penyelia</ion-label>
      <ion-input type="text" [(ngModel)]="svRemark" name="svRemark"></ion-input>
    </ion-item>
  </form>

  <div *ngIf="!viewOnly" class="d-flex flex-row mx-3 justify-content-center my-4">
    <button (click)="reject()" [disabled]="!form.valid" *ngIf="userRole=='Penyelia Balut & Pendebungaan Terkawal' || userRole=='Penyelia Kawalan Kualiti'" class="btn btn-danger text-white d-flex flex-row px-4 py-2 mx-2">
      <ion-icon size="large" color="white" name="close-circle-outline"></ion-icon>
      <p class="m-auto">TOLAK</p>
    </button>

    <button (click)="accept()" [disabled]="!form.valid" *ngIf="userRole=='Penyelia Balut & Pendebungaan Terkawal' || userRole=='Penyelia Kawalan Kualiti'" class="btn btn-success text-white d-flex flex-row px-4 py-2 mx-2">
      <ion-icon size="large" color="white" name="checkmark-circle-outline"></ion-icon>
      <p class="m-auto">TERIMA</p>
    </button>

    <button [disabled]="!form.valid || photo ==null || id1==null && id1.value==null" (click)="submitTask()" *ngIf="(userRole=='Petugas Balut & Pendebungaan Terkawal' || userRole=='Petugas Kawalan Kualiti') && taskType == 'balut'" class="btn btn-danger text-white d-flex flex-row px-4 py-2 mx-2">
      <ion-icon size="large" color="white" name="paper-plane-outline"></ion-icon>
      <p class="m-auto">Hantar</p>
    </button>

    <button [disabled]="photo ==null && serverImage == null" (click)="pospone()" *ngIf="(userRole=='Petugas Balut & Pendebungaan Terkawal' ) && (taskType == 'debung' || taskType == 'debungposponed') && defect == null" class="btn btn-danger text-white d-flex flex-row px-4 py-2 mx-2">
      <ion-icon size="large" color="white" name="add-circle-outline"></ion-icon>
      <p class="m-auto">Anjak</p>
    </button>

    <button [disabled]="!form.valid || (photo ==null&& serverImage == null)" (click)="submitNormalCp()" *ngIf="(userRole=='Petugas Balut & Pendebungaan Terkawal' ) && (taskType == 'debung' || taskType == 'debungposponed') && defect == null" class="btn btn-success text-white d-flex flex-row px-4 py-2 mx-2">
      <ion-icon size="large" color="white" name="checkmark-circle-outline"></ion-icon>
      <p class="m-auto">Hantar</p>
    </button>
  
    <button [disabled]="!form.valid || (photo ==null&& serverImage == null)" (click)="submitCPDefect()" *ngIf="(userRole=='Petugas Balut & Pendebungaan Terkawal' ) && (taskType == 'debung' || taskType == 'debungposponed') && defect != null" class="btn btn-success text-white d-flex flex-row px-4 py-2 mx-2">
      <ion-icon size="large" color="white" name="checkmark-circle-outline"></ion-icon>
      <p class="m-auto">Hantar</p>
    </button>

    <button [disabled]="!form.valid || (photo ==null&& serverImage == null)" (click)="submitNormalQc()" *ngIf="(userRole=='Petugas Kawalan Kualiti' ) && (taskType == 'qc') && defect == null" class="btn btn-success text-white d-flex flex-row px-4 py-2 mx-2">
      <ion-icon size="large" color="white" name="checkmark-circle-outline"></ion-icon>
      <p class="m-auto">Hantar</p>
    </button>

    <button [disabled]="!form.valid || (photo ==null&& serverImage == null)" (click)="submitQcDefect()" *ngIf="(userRole=='Petugas Kawalan Kualiti' ) && (taskType == 'qc') && defect != null" class="btn btn-success text-white d-flex flex-row px-4 py-2 mx-2">
      <ion-icon size="large" color="white" name="checkmark-circle-outline"></ion-icon>
      <p class="m-auto">Hantar</p>
    </button>

    <button (click)="submitPollenPrep()" *ngIf="(userRole=='Petugas Am') && taskType == 'pollen-prep'" class="btn btn-danger text-white d-flex flex-row px-4 py-2 mx-2">
      <ion-icon size="large" color="white" name="paper-plane-outline"></ion-icon>
      <p class="m-auto">Hantar</p>
    </button>

    <button [disabled]="!form.valid || (photo ==null&& serverImage == null)" (click)="submitHarvestDefect()" *ngIf="(userRole=='Petugas Tuai') && taskType == 'tuai' && defect != null" class="btn btn-danger text-white d-flex flex-row px-4 py-2 mx-2">
      <ion-icon size="large" color="white" name="paper-plane-outline"></ion-icon>
      <p class="m-auto">Hantar</p>
    </button>
    <button [disabled]="!form.valid || (photo ==null&& serverImage == null)" (click)="submitHarvestNormal()" *ngIf="(userRole=='Petugas Tuai') && taskType == 'tuai' && defect == null" class="btn btn-danger text-white d-flex flex-row px-4 py-2 mx-2">
      <ion-icon size="large" color="white" name="paper-plane-outline"></ion-icon>
      <p class="m-auto">Hantar</p>
    </button>

  </div>
</ion-content>
