<ion-content>
  <app-logout-button></app-logout-button>
  <app-user-info-header></app-user-info-header>

  <div class="w-75 mx-auto text-center text-white font-weight-bold h5 p-2" style="background-color: rgba(236, 36, 39, 1); border-radius: 10px;">
    {{task}}
  </div>

  <div>
    <ion-grid class="my-5">
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button [disabled]="disableNewRecord" class="btn w-100 mx-auto rounded orangeBtn text-center text-white p-2">
              <img src="../../../assets//new_record_icon.png">
              <h5>Rekod Baharu</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button [disabled]="disableFinishRecord" class="btn w-100 mx-auto rounded greenBtn text-center text-white p-2">
              <img src="../../../assets//finished_record_icon.png">
              <h5>Rekod Selesai</h5>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <p style="font-size: 14px; font-weight: 600; line-height: 100%; text-align: center; color: rgba(57.37, 57.37, 57.37, 1);">Senarai Rekod</p>
    <div>
      <div class="p-3 my-3 mx-auto w-75 shadow rounded border border-success d-flex justify-content-between align-items-center">
        <p class="h5">Rekod 1</p>
        <button (click)="viewTask('cp','completed')" class="btn greenBtn text-white">Info</button>
      </div>
      <div class="p-3 my-3 mx-auto w-75 shadow rounded border border-success d-flex justify-content-between align-items-center">
        <p class="h5">Rekod 2</p>
        <button (click)="viewTask('cp','completed')" class="btn greenBtn text-white">Info</button>
      </div>
    </div>
    <div>
      <div class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
        <p class="h5">Rekod 1</p>
        <button (click)="viewTask('cp','new')" class="btn orangeBtn text-white">Info</button>
      </div>
      <div class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
        <p class="h5">Rekod 2</p>
        <button (click)="viewTask('cp','new')" class="btn orangeBtn text-white">Info</button>
      </div>
    </div>
  </div>
</ion-content>
