<div class="mx-auto text-center my-auto">
  <p style="width: 202px; height: 33px; font-size: 16.63px; font-weight: 600; line-height: 100%; text-align: center; color: rgba(57.37, 57.37, 57.37, 1);">Balut untuk kali ke 2?</p>
  <div class="d-flex flex-row w-100">
    <div class="w-50 mx-2">
      <button (click)="btnClick(1)" class="mx-2 w-100 btn btn-outline-danger">Tidak</button>
    </div>
    <div class="w-50 mx-2">
      <button (click)="btnClick(2)" class="mx-2 w-100 btn btn-danger">Ya</button>
    </div>
  </div>
</div>
