<ion-content>
  <app-logout-button></app-logout-button>
  <app-user-info-header></app-user-info-header>

  <div class="w-75 mx-auto">
    <div class="row border-bottom">
      <div class="col-5">
        Nama
      </div>
      <div class="col-5">
        Jumlah Tugasan
      </div>
      <div class="col-2">
      </div>
    </div>
    <div class="row my-3">
      <div class="col-10 rounded bg-light shadow">
        <div class="row">
          <small class="col-5" style="font-size: 15px; font-weight: 600; color: rgba(57.37, 57.37, 57.37, 1);">
            Ali bin Abu<br/>P01101
          </small>
          <small class="col-5 text-center my-auto" style="font-size: 15px; font-weight: 600; color: rgba(57.37, 57.37, 57.37, 1);">
            2
          </small>
        </div>
      </div>
      <div class="col-2">
        <button (click)="select()" class="btn btn-danger shadow">Pilih</button>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-10 rounded bg-light shadow">
        <div class="row">
          <small class="col-5" style="font-size: 15px; font-weight: 600; color: rgba(57.37, 57.37, 57.37, 1);">
            Ali bin Abu<br/>P01101
          </small>
          <small class="col-5 text-center my-auto" style="font-size: 15px; font-weight: 600; color: rgba(57.37, 57.37, 57.37, 1);">
            2
          </small>
        </div>
      </div>
      <div class="col-2">
        <button (click)="select()" class="btn btn-danger shadow">Pilih</button>
      </div>
    </div>
  </div>
</ion-content>
