<ion-content>
  <app-offline-header></app-offline-header>
  <app-logout-button></app-logout-button>
  <app-user-info-header></app-user-info-header>

  <div class="w-75 mx-auto">
    <div class="row border-bottom">
      <div class="col-5">
        Nama
      </div>
      <div class="col-5 text-end">
        Jumlah Tugasan
      </div>
      <div class="col-2">
      </div>
    </div>
    <div *ngFor="let worker of qcWorker"  class="row my-3 align-items-center">
      <div class="col-10 rounded bg-light shadow p-3">
        <div class="row">
          <small class="col-9" style="font-size: 15px; font-weight: 600; color: rgba(57.37, 57.37, 57.37, 1);">
            {{worker.nama}}<br/>{{worker.no_kakitangan}}
          </small>
          <small class="col-3 text-center my-auto" style="font-size: 15px; font-weight: 600; color: rgba(57.37, 57.37, 57.37, 1);">
            {{worker.quality_control?.length}}
          </small>
        </div>
      </div>
      <div class="col-2">
        <button (click)="select(worker.id)" class="btn btn-danger shadow">Pilih</button>
      </div>
    </div>
  </div>
</ion-content>
