 <div class="h-25">
  <img src="../../../assets/header_bg_sm.png" style="width:100%; position: absolute; top: 0%; left: 0%; z-index: -1000;">
  <div class="mx-auto text-center">
    <div class="my-2" style="width: 304px; height: 59px; display: inline-flex; flex-direction: row; align-items: center; justify-content: flex-end;">
      <div style="width: 58px; height: 59px;">
        <div id="iconBg" style="width: 58px; height: 58px; border-radius: 10px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
          <img style="height: 48px; border-radius: 8px;" src={{userIconPath}}/>
        </div>
      </div>
      <div style="height: 59px;">
        <p class="mx-2 text-start" style="font-weight: 700; width: 226px; height: 58px; font-size: 12px; color: rgba(64, 19, 28, 1);">NAMA: {{name}}<br/>NO.KAKITANGAN: {{id}}<br/>PERANAN: <span class="text-capitalize">{{role}}</span></p>
      </div>
    </div>
  </div>
</div>