<ion-content>
  <app-logout-button></app-logout-button>
  <app-user-info-header></app-user-info-header>

  <div class="mx-3 my-2">
    <div class="rounded border border-danger p-2">
      <div class="row border-bottom mx-1 align-items-center">
        <small style="font-size: 10px; font-weight: 600; color: rgba(98.81, 98.81, 98.81, 1);" class="col-6">
          PROCESS
        </small>
        <small style="font-size: 10px; font-weight: 600; color: rgba(98.81, 98.81, 98.81, 1);" class="col-3 text-center">
          MASUK
        </small>
        <small style="font-size: 10px; font-weight: 600; color: rgba(98.81, 98.81, 98.81, 1);" class="col-3 text-center">
          KELUAR
        </small>
      </div>

      <div class="my-2 border-bottom row mx-1 align-items-center">
        <div class="col-6">
          <small style="font-size: 15px; font-weight: 600; line-height: 100%; color: black;">1. Bilik Panas (4 Jam)</small>
        </div>
        <div class="col-3 px-2 text-center">
          <p style="font-size: 9px; font-weight: 600;  text-align: center; color: rgba(64, 19, 28, 1);">{{firstHotRoomEnter}}</p>
        </div>
        <div class="col-3 px-2 text-center">
          <p style="font-size: 9px; font-weight: 600; text-align: center; color: rgba(64, 19, 28, 1);">{{firstHotRoomExit}}</p>
        </div>
      </div>

      <div class="my-2 border-bottom row mx-1 align-items-center">
        <div class="col-6">
          <small style="font-size: 15px; font-weight: 600; line-height: 100%; color: black;">2. Ketuk</small>
        </div>
        <div class="col-6 px-2 text-center">
          <p style="font-size: 9px; font-weight: 600;  text-align: center; color: rgba(64, 19, 28, 1);">{{smash}}</p>
        </div>
      </div>

      <div class="my-2 border-bottom row mx-1 align-items-center">
        <div class="col-6">
          <small style="font-size: 15px; font-weight: 600; line-height: 100%; color: black;">3. Bilik Panas (4 Jam)</small>
        </div>
        <div class="col-3 px-2 text-center">
          <p style="font-size: 9px; font-weight: 600;  text-align: center; color: rgba(64, 19, 28, 1);">{{secondHotRoomEnter}}</p>
        </div>
        <div class="col-3 px-2 text-center">
          <p style="font-size: 9px; font-weight: 600; text-align: center; color: rgba(64, 19, 28, 1);">{{secondHotRoomExit}}</p>
        </div>
      </div>

      <div class="my-2 border-bottom row mx-1 align-items-center">
        <div class="col-6">
          <small style="font-size: 15px; font-weight: 600; line-height: 100%; color: black;">4. Ayak</small>
        </div>
        <div class="col-6 px-2 text-center">
          <p style="font-size: 9px; font-weight: 600;  text-align: center; color: rgba(64, 19, 28, 1);">{{shive}}</p>
        </div>
      </div>

      <div class="my-2 border-bottom row mx-1 align-items-center">
        <div class="col-6">
          <small style="font-size: 15px; font-weight: 600; line-height: 100%; color: black;">5. Kerosakan Sebelum Pengujian Pollen</small>
        </div>
        <div class="col-6 px-2 text-center">
          <p style="font-size: 9px; font-weight: 600;  text-align: center; color: rgba(64, 19, 28, 1);">{{qc}}</p>
        </div>
      </div>

      <div class="my-2 border-bottom row mx-1 align-items-center">
        <div class="col-6">
          <small style="font-size: 15px; font-weight: 600; line-height: 100%; color: black;">6. Ujian Viabiliti</small>
        </div>
        <div class="col-6 px-2 text-center">
          <p style="font-size: 9px; font-weight: 600;  text-align: center; color: rgba(64, 19, 28, 1);">{{test}}</p>
        </div>
      </div>

    </div>
  </div>
</ion-content>
