<ion-content>
  <app-offline-header></app-offline-header>
  <app-logout-button></app-logout-button>
  <app-user-info-header></app-user-info-header>

  <div class="w-75 mx-auto text-center text-white font-weight-bold h5 p-2" style="background-color: rgba(236, 36, 39, 1); border-radius: 10px;">
    {{task}}
  </div>

  <div>
    <ion-grid class="my-5">
      <ion-row *ngIf="((task == 'Balut' || task == 'Pendebungaan Terkawal (CP)') && ( role == roles.penyelia_balut || role == roles.penyelia_fatherpalm))" class="ion-justify-content-center">
        <ion-col *ngIf="numOfNewTask > 0" size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="newRecord()" [disabled]="disableNewRecord" class="btn w-100 mx-auto rounded orangeBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfNewTask > 0" color="danger">{{numOfNewTask}}</ion-badge>
              <img height="56px" src="/assets/new_record_icon.png">
              <h5>Rekod Baharu</h5>
            </button>
          </div>
        </ion-col>
        <ion-col *ngIf="numOfFinishTask > 0" size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="finishRecord()" [disabled]="disableFinishRecord" class="btn w-100 mx-auto rounded greenBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfFinishTask > 0" color="danger">{{numOfFinishTask}}</ion-badge>
              <img height="56px" src="/assets/finished_record_icon.png">
              <h5>Rekod Selesai</h5>
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(task == 'Balut' && ( role == roles.petugas_balut || role == roles.petugas_balut_fatherpalm))" class="ion-justify-content-center">
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="activeTask()" [disabled]="disableActiveTaskBtn" class="btn w-100 mx-auto rounded blueBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfActiveTask > 0" color="danger">{{numOfActiveTask}}</ion-badge>
              <img height="56px" src="/assets/active_task_icon.png">
              <h5>Tugas Aktif</h5>
            </button>
          </div>
        </ion-col>
        <ion-col *ngIf="posponedTaskList?.length > 0" size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="posponedTask()" class="btn w-100 mx-auto rounded btn-danger text-center text-white p-2">
              <ion-badge *ngIf="posponedTaskList?.length > 0" color="danger">{{posponedTaskList?.length}}</ion-badge>
              <img height="56px" src="/assets/posponed_task_icon.png">
              <h5>Tugas Tertunggak</h5>
            </button>
          </div>
        </ion-col>
        <ion-col *ngIf="numOfFinishTask > 0" size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="finishRecord()" [disabled]="disableFinishRecord" class="btn w-100 mx-auto rounded greenBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfFinishTask > 0" color="danger">{{numOfFinishTask}}</ion-badge>
              <img height="56px" src="/assets/finished_record_icon.png">
              <h5>Rekod Selesai</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="runTask()" class="btn w-100 mx-auto rounded orangeBtn text-center text-white p-2">
              <div class="mx-auto" style="width: 58px; height: 58px; padding-top: 14px; padding-bottom: 14px; padding-left: 13px; padding-right: 14px; background-color: white; border-radius: 10px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <img style="width: 31.32px; height: 30px; border-radius: 8px;" src={{taskIconPath}}/>
              </div>
              <h5>{{taskBtnName}}</h5>
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="task == 'Pendebungaan Terkawal (CP)' && role == roles.petugas_balut" class="ion-justify-content-center">
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="newCPTask()" [disabled]="disableNewRecord" class="btn w-100 mx-auto rounded orangeBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfNewTask > 0" color="danger">{{numOfNewTask}}</ion-badge>
              <img height="56px" src="/assets/new_record_icon.png">
              <h5>Tugas Baharu</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="posponedTask()" class="btn w-100 mx-auto rounded btn-danger text-center text-white p-2">
              <ion-badge *ngIf="posponedTaskList?.length > 0" color="danger">{{posponedTaskList?.length}}</ion-badge>
              <img height="56px" src="/assets/posponed_task_icon.png">
              <h5>Tugas Tertunggak</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="activeTask()" [disabled]="disableActiveTaskBtn" class="btn w-100 mx-auto rounded blueBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfActiveTask > 0" color="danger">{{numOfActiveTask}}</ion-badge>
              <img height="56px" src="/assets/active_task_icon.png">
              <h5>Tugas Aktif</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="finishRecord()" [disabled]="disableFinishRecord" class="btn w-100 mx-auto rounded greenBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfFinishTask > 0" color="danger">{{numOfFinishTask}}</ion-badge>
              <img height="56px" src="/assets/finished_record_icon.png">
              <h5>Tugas Selesai</h5>
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(task == 'Kawalan Kualiti (QC)' && role == 'Penyelia Kawalan Kualiti')" class="ion-justify-content-center">
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="newRecord()" [disabled]="disableNewRecord" class="btn w-100 mx-auto rounded orangeBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfNewTask > 0"  color="danger">{{numOfNewTask}}</ion-badge>
              <img height="56px" src="/assets/new_record_icon.png">
              <h5>Rekod Baharu</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="finishRecord()" [disabled]="disableFinishRecord" class="btn w-100 mx-auto rounded greenBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfFinishTask > 0" color="danger">{{numOfFinishTask}}</ion-badge>
              <img height="56px" src="/assets/finished_record_icon.png">
              <h5>Rekod Selesai</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="newQCTask()" class="btn w-100 mx-auto rounded blueBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfActiveTask > 0" color="danger">{{numOfActiveTask}}</ion-badge>
              <img height="56px" src="/assets/active_task_icon.png">
              <h5>Tugas Baharu</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="taskDistributed()" class="btn w-100 mx-auto rounded btn-info text-center text-white p-2">
              <img height="56px" src="/assets/record_icon.png">
              <h5>Senarai Pekerja</h5>
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="task == 'Kawalan Kualiti (QC)' && role == 'Petugas Kawalan Kualiti'" class="ion-justify-content-center">
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="newCPTask()" [disabled]="disableNewRecord" class="btn w-100 mx-auto rounded orangeBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfNewTask > 0" color="danger">{{numOfNewTask}}</ion-badge>
              <img height="56px" src="/assets/new_record_icon.png">
              <h5>Tugas Baharu</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="posponedTask()" class="btn w-100 mx-auto rounded btn-danger text-center text-white p-2">
              <ion-badge *ngIf="numOfPosponedTask > 0" color="danger">{{numOfPosponedTask}}</ion-badge>
              <img height="56px" src="/assets/posponed_task_icon.png">
              <h5>Tugas Tertunggak</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="activeTask()" [disabled]="disableActiveTaskBtn" class="btn w-100 mx-auto rounded blueBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfActiveTask > 0" color="danger">{{numOfActiveTask}}</ion-badge>
              <img height="56px" src="/assets/active_task_icon.png">
              <h5>Tugas Aktif</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="finishRecord()" [disabled]="disableFinishRecord" class="btn w-100 mx-auto rounded greenBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfFinishTask > 0" color="danger">{{numOfFinishTask}}</ion-badge>
              <img height="56px" src="/assets/finished_record_icon.png">
              <h5>Tugas Selesai</h5>
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(task == 'Tuai' && ( role == 'Penyelia Tuai' || role == roles.penyelia_fatherpalm))" class="ion-justify-content-center">
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="newRecord()" [disabled]="disableNewRecord" class="btn w-100 mx-auto rounded orangeBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfNewTask > 0"  color="danger">{{numOfNewTask}}</ion-badge>
              <img height="56px" src="/assets/new_record_icon.png">
              <h5>Rekod Baharu</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="finishRecord()" [disabled]="disableFinishRecord" class="btn w-100 mx-auto rounded greenBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfFinishTask > 0" color="danger">{{numOfFinishTask}}</ion-badge>
              <img height="56px" src="/assets/finished_record_icon.png">
              <h5>Rekod Selesai</h5>
            </button>
          </div>
        </ion-col>
        <ion-col *ngIf="role != roles.penyelia_fatherpalm" size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="newHarvestTask()" class="btn w-100 mx-auto rounded blueBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfActiveTask > 0" color="danger">{{numOfActiveTask}}</ion-badge>
              <img height="56px" src="/assets/active_task_icon.png">
              <h5>Tugas Baharu</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="taskDistributed()" class="btn w-100 mx-auto rounded btn-info text-center text-white p-2">
              <img height="56px" src="/assets/record_icon.png">
              <h5>Senarai Pekerja</h5>
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="task == 'Tuai' && ( role == 'Petugas Tuai' || role == roles.petugas_balut_fatherpalm)" class="ion-justify-content-center">
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="newCPTask()" [disabled]="disableNewRecord" class="btn w-100 mx-auto rounded orangeBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfNewTask > 0" color="danger">{{numOfNewTask}}</ion-badge>
              <img height="56px" src="/assets/new_record_icon.png">
              <h5>Tugas Baharu</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="posponedTask()" class="btn w-100 mx-auto rounded btn-danger text-center text-white p-2">
              <ion-badge *ngIf="numOfPosponedTask > 0" color="danger">{{numOfPosponedTask}}</ion-badge>
              <img height="56px" src="/assets/posponed_task_icon.png">
              <h5>Tugas Tertunggak</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="activeTask()" [disabled]="disableActiveTaskBtn" class="btn w-100 mx-auto rounded blueBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfActiveTask > 0" color="danger">{{numOfActiveTask}}</ion-badge>
              <img height="56px" src="/assets/active_task_icon.png">
              <h5>Tugas Aktif</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="finishRecord()" [disabled]="disableFinishRecord" class="btn w-100 mx-auto rounded greenBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfFinishTask > 0" color="danger">{{numOfFinishTask}}</ion-badge>
              <img height="56px" src="/assets/finished_record_icon.png">
              <h5>Tugas Selesai</h5>
            </button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="(task == 'Penyediaan Pollen' && role == 'Penyelia Makmal')" class="ion-justify-content-center">
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="newRecord()" [disabled]="disableNewRecord" class="btn w-100 mx-auto rounded orangeBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfNewTask > 0"  color="danger">{{numOfNewTask}}</ion-badge>
              <img height="56px" src="/assets/new_record_icon.png">
              <h5>Rekod Baharu</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="finishRecord()" [disabled]="disableFinishRecord" class="btn w-100 mx-auto rounded greenBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfFinishTask > 0" color="danger">{{numOfFinishTask}}</ion-badge>
              <img height="56px" src="/assets/finished_record_icon.png">
              <h5>Rekod Selesai</h5>
            </button>
          </div>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <div>
            <button (click)="newHarvestTask()" class="btn w-100 mx-auto rounded blueBtn text-center text-white p-2">
              <ion-badge *ngIf="numOfActiveTask > 0" color="danger">{{numOfActiveTask}}</ion-badge>
              <img height="56px" src="/assets/active_task_icon.png">
              <h5>Tugas Baharu</h5>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <p *ngIf="disableFinishRecord || disableActiveTaskBtn || disableNewRecord || disableTaskBtn" style="font-size: 14px; font-weight: 600; line-height: 100%; text-align: center; color: rgba(57.37, 57.37, 57.37, 1);">Senarai Rekod</p>
    <div *ngIf="!(task == 'Tuai') && !(task == 'Kawalan Kualiti (QC)') && !(task == 'Penyediaan Pollen') && !(task == 'Pendebungaan Terkawal (CP)' && (role == roles.petugas_balut || role == roles.petugas_balut_fatherpalm))">
      <div *ngIf="disableFinishRecord">
        <div *ngFor="let item of finishedTaskList" class="p-3 my-3 mx-auto w-75 shadow rounded border border-success d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button *ngIf="item.status == 'tolak' || (item.status == 'sah' && item.kerosakan_id != null)" (click)="viewTask('balut','completed',item.id)" class="btn btn-danger text-white">Info</button>
          <button *ngIf="item.status != 'tolak' && !(item.status == 'sah' && item.kerosakan_id != null)" (click)="viewTask('balut','completed',item.id)" class="btn greenBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableActiveTaskBtn">
        <div *ngFor="let item of activeTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-primary d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('balut','activeTask',item.tandan_id)" class="btn blueBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableNewRecord">
        <div *ngFor="let item of newTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('balut','activeTaskSV',item.id)" class="btn orangeBtn text-white">Info</button>
        </div>
      </div>
      <!-- <div *ngIf="disableTaskBtn">
        <div *ngFor="let item of newTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('cp','newTask',item.id)" class="btn orangeBtn text-white">Info</button>
        </div>
      </div> -->
      <div *ngIf="disablePostponedTaskBtn">
        <div *ngFor="let item of posponedTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-danger d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('bagging','posponed',item.id,item.pokok_id)" class="btn btn-danger text-white">Info</button>
        </div>
      </div>
    </div>
    <div *ngIf="task == 'Pendebungaan Terkawal (CP)' && role == roles.petugas_balut">
      <div *ngIf="disableNewRecord">
        <div *ngFor="let item of newTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('cp','activeTaskSV',item.id,item.pokok_id)" class="btn orangeBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableActiveTaskBtn">
        <div *ngFor="let item of activeTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('cp','completed',item.id)" class="btn blueBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disablePostponedTaskBtn">
        <div *ngFor="let item of posponedTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-danger d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button *ngIf="item.status != 'dicipta' && item.status != 'tolak'" (click)="viewTask('cp','posponed',item.id,item.pokok_id)" class="btn btn-danger text-white">Info</button>
          <button *ngIf="item.status == 'dicipta'" (click)="viewTask('cp','interrupted',item.id,item.tandan_id)" class="btn btn-danger text-white">Info</button>
          <button *ngIf="item.status == 'tolak'" (click)="viewTask('cp','rejected',item.id,item.tandan_id)" class="btn btn-danger text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableFinishRecord">
        <div *ngFor="let item of finishedTaskList" class="p-3 my-3 mx-auto w-75 shadow rounded border border-success d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button *ngIf="item.status == 'sah' && item.kerosakan_id != null" (click)="viewTask('cp','completed',item.id)" class="btn btn-danger text-white">Info</button>
          <button *ngIf="item.status != 'sah' || item.kerosakan_id == null"(click)="viewTask('cp','completed',item.id)" class="btn greenBtn text-white">Info</button>
        </div>
      </div>
    </div>
    <div *ngIf="task == 'Kawalan Kualiti (QC)' && role == 'Petugas Kawalan Kualiti'">
      <div *ngIf="disableNewRecord">
        <div *ngFor="let item of newTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('qc','activeTaskSV',item.id,item.pokok_id)" class="btn orangeBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableActiveTaskBtn">
        <div *ngFor="let item of activeTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('qc','completed',item.tandan_id)" class="btn blueBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disablePostponedTaskBtn">
        <div *ngFor="let item of posponedTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-danger d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('qc','posponed',item.id,item.pokok_id)" class="btn btn-danger text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableFinishRecord">
        <div *ngFor="let item of finishedTaskList" class="p-3 my-3 mx-auto w-75 shadow rounded border border-success d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button *ngIf="item.status == 'sah' && item.kerosakan_id != null" (click)="viewTask('qc','completed',item.tandan_id)" class="btn btn-danger text-white">Info</button>
          <button *ngIf="item.status != 'sah' || item.kerosakan_id == null" (click)="viewTask('qc','completed',item.tandan_id)" class="btn greenBtn text-white">Info</button>
        </div>
      </div>
    </div>
    <div *ngIf="task == 'Kawalan Kualiti (QC)' && role == 'Penyelia Kawalan Kualiti'">
      <div *ngIf="disableNewRecord">
        <div *ngFor="let item of newTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('qcSv','activeTaskSV',item.id,item.pokok_id)" class="btn orangeBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableActiveTaskBtn">
        <div *ngFor="let item of activeTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('qc','completed',item.tandan_id)" class="btn blueBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disablePostponedTaskBtn">
        <div *ngFor="let item of posponedTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-danger d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('qc','posponed',item.id,item.pokok_id)" class="btn btn-danger text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableFinishRecord">
        <div *ngFor="let item of finishedTaskList" class="p-3 my-3 mx-auto w-75 shadow rounded border border-success d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button *ngIf="item.status == 'sah' && item.kerosakan_id != null" (click)="viewTask('qcSv','completed',item.id)" class="btn btn-danger text-white">Info</button>
          <button *ngIf="item.status != 'sah' || item.kerosakan_id == null"(click)="viewTask('qcSv','completed',item.id)" class="btn greenBtn text-white">Info</button>
        </div>
      </div>
    </div>
    <div *ngIf="task == 'Tuai' && (role == 'Petugas Tuai'|| role == roles.petugas_balut_fatherpalm)">
      <div *ngIf="disableNewRecord">
        <div *ngFor="let item of newTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('harvest','activeTaskSV',item.id,item.pokok_id)" class="btn orangeBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableActiveTaskBtn">
        <div *ngFor="let item of activeTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('harvest','completed',item.tandan_id)" class="btn blueBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disablePostponedTaskBtn">
        <div *ngFor="let item of posponedTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-danger d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('harvest','posponed',item.id,item.pokok_id)" class="btn btn-danger text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableFinishRecord">
        <div *ngFor="let item of finishedTaskList" class="p-3 my-3 mx-auto w-75 shadow rounded border border-success d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button *ngIf="item.status == 'sah' && item.kerosakan_id != null" (click)="viewTask('harvest','completed',item.tandan_id)" class="btn btn-danger text-white">Info</button>
          <button *ngIf="item.status != 'sah' || item.kerosakan_id == null" (click)="viewTask('harvest','completed',item.tandan_id)" class="btn greenBtn text-white">Info</button>
        </div>
      </div>
    </div>
    <div *ngIf="task == 'Tuai' && ( role == 'Penyelia Tuai' || role == roles.penyelia_fatherpalm)">
      <div *ngIf="disableNewRecord">
        <div *ngFor="let item of newTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('harvestSv','activeTaskSV',item.id,item.pokok_id)" class="btn orangeBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableActiveTaskBtn">
        <div *ngFor="let item of activeTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('harvestSv','completed',item.tandan_id)" class="btn blueBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disablePostponedTaskBtn">
        <div *ngFor="let item of posponedTaskList" class="p-3 my-3 mx-auto w-75 shadow rounded border border-danger d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('harvestSv','posponed',item.id,item.pokok_id)" class="btn btn-danger text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableFinishRecord">
        <div *ngFor="let item of finishedTaskList" class="p-3 my-3 mx-auto w-75 shadow rounded border border-success d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button *ngIf="item.status == 'sah' && item.kerosakan_id != null" (click)="viewTask('harvestSv','completed',item.id)" class="btn btn-danger text-white">Info</button>
          <button *ngIf="item.status != 'sah' || item.kerosakan_id == null"(click)="viewTask('harvestSv','completed',item.id)" class="btn greenBtn text-white">Info</button>
        </div>
      </div>
    </div>
    <div *ngIf="task == 'Penyediaan Pollen' && role == 'Penyelia Makmal'">
      <div *ngIf="disableNewRecord">
        <div *ngFor="let item of newTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('pollenPrep','activeTaskSV',item.id,item.tandan_id)" class="btn orangeBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableActiveTaskBtn">
        <div *ngFor="let item of activeTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-warning d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('pollenPrep','completed',item.tandan_id)" class="btn blueBtn text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disablePostponedTaskBtn">
        <div *ngFor="let item of posponedTaskList"class="p-3 my-3 mx-auto w-75 shadow rounded border border-danger d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('pollenPrep','posponed',item.id,item.pokok_id)" class="btn btn-danger text-white">Info</button>
        </div>
      </div>
      <div *ngIf="disableFinishRecord">
        <div *ngFor="let item of finishedTaskList" class="p-3 my-3 mx-auto w-75 shadow rounded border border-success d-flex justify-content-between align-items-center">
          <p class="h6">Rekod {{item.id}} ({{item.pokok.progeny}}-{{item.pokok.no_pokok}})</p>
          <button (click)="viewTask('pollenPrep','completed',item.tandan_id)" class="btn greenBtn text-white">Info</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
