<ion-content>
  <app-offline-header></app-offline-header>
  <app-logout-button></app-logout-button>
  <app-user-info-header></app-user-info-header>

  <form #form="ngForm" class="mx-auto my-2" style="max-width: 300px;" (ngSubmit)="submit(form)">
    <ion-item  lines="full" class="my-4">
      <ion-select placeholder="Pilih Blok" id= "blockSelect" #blockSelect>
        <ion-select-option *ngFor="let item of blockNames" value={{item}}>{{item}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item  lines="full" class="my-4">
      <ion-select placeholder="Pilih Progeny" id= "progenySelect" #progenySelect>
        <ion-select-option *ngFor="let item of progenyNames" value={{item}}>{{item}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item  lines="full" class="my-4">
      <ion-select placeholder="Pilih Pembalut" id= "userSelect" #userSelect>
        <ion-select-option *ngFor="let item of baggingWorkers" value={{item.id}}>{{item.nama}}</ion-select-option>
      </ion-select>
    </ion-item>
    <button type="submit" class="btn btn-danger text-white d-flex flex-row px-4 py-2 mx-auto mt-4">
      <p class="m-auto">Cari</p>
    </button>
  </form>

  <p *ngIf="searchResult.length>0" style="font-size: 16.63px; font-weight: 600; text-align: center; color: rgba(57.37, 57.37, 57.37, 1);">
    Jumlah : {{searchResult.length}}
  </p>

  <div class="text-center">
    <button *ngFor="let item of searchResult" (click)="selectTask(item.id)" class="btn rounded btn-light shadow w-75 my-3 mx-auto d-flex flex-row justify-content-between align-items-center">
      <div class="d-flex flex-column text-start">
        <small style="font-size: 12.65px; font-weight: 600; line-height: 100%; color: rgba(98.81, 98.81, 98.81, 1);">
          No. Daftar :
        </small>
        <small class="my-2" style="font-size: 21.08px; font-weight: 600; line-height: 100%; color: rgba(57.37, 57.37, 57.37, 1);">
          {{item.tandan.no_daftar}}
        </small>
        <small style="font-size: 12.65px; font-weight: 600; color: rgba(98.81, 98.81, 98.81, 1);">
          No. Pokok : 
          <span style="font-size: 12.65px; font-weight: 600; color: rgba(57.37, 57.37, 57.37, 1);">
            {{item.pokok.progeny}} - {{item.pokok.no_pokok}}
          </span>
        </small>
        <small style="font-size: 12.65px; font-weight: 600; color: rgba(98.81, 98.81, 98.81, 1);">
          Kitaran :
          <span style="font-size: 12.65px; font-weight: 600; color: rgba(57.37, 57.37, 57.37, 1);">
            {{item.tandan.kitaran}}
          </span>
        </small>
      </div>
      <img src="../../../assets/qr_icon.png">
    </button>    
  </div>
</ion-content>
