<ion-content>
  <app-offline-header></app-offline-header>
  <app-logout-button></app-logout-button>
  <app-user-info-header></app-user-info-header>
  <div class="mx-2">
    <div class="row">
      <div class="col text-center">
        <div style="height: 32px; width: 32px; background-color: #40131C;" class="mx-auto rounded-circle text-center text-white p-auto">
          <p class="m-auto">1</p>
        </div>
        <small class="font-weight-light">Balut</small>
      </div>
      <div *ngIf="treeType != 'Fatherpalm'" class="col text-center">
        <div *ngIf="indicator < 1" style="height: 32px; width: 32px; background-color: #40131c81;" class="mx-auto rounded-circle text-center text-white p-auto">
          <p class="m-auto">2</p>
        </div>
        <div *ngIf="indicator >= 1" style="height: 32px; width: 32px; background-color: #40131C;" class="mx-auto rounded-circle text-center text-white p-auto">
          <p class="m-auto">2</p>
        </div>
        <small class="font-weight-light">Kerosakan Sebelum CP</small>
      </div>
      <div  *ngIf="treeType != 'Fatherpalm'" class="col text-center">
        <div *ngIf="indicator < 2" style="height: 32px; width: 32px; background-color: #40131c81;" class="mx-auto rounded-circle text-center text-white p-auto">
          <p class="m-auto">3</p>
        </div>
        <div *ngIf="indicator >= 2" style="height: 32px; width: 32px; background-color: #40131C;" class="mx-auto rounded-circle text-center text-white p-auto">
          <p class="m-auto">3</p>
        </div>
        <small class="font-weight-light">CP</small>
      </div>
      <div *ngIf="treeType != 'Fatherpalm'"  class="col text-center">
        <div *ngIf="indicator < 3" style="height: 32px; width: 32px; background-color: #40131c81;" class="mx-auto rounded-circle text-center text-white p-auto">
          <p class="m-auto">4</p>
        </div>
        <div *ngIf="indicator >= 3" style="height: 32px; width: 32px; background-color: #40131C;" class="mx-auto rounded-circle text-center text-white p-auto">
          <p class="m-auto">4</p>
        </div>
        <small class="font-weight-light">QC</small>
      </div>
      <div *ngIf="treeType != 'Fatherpalm'" class="col text-center">
        <div *ngIf="indicator < 4" style="height: 32px; width: 32px; background-color: #40131c81;" class="mx-auto rounded-circle text-center text-white p-auto">
          <p class="m-auto">5</p>
        </div>
        <div *ngIf="indicator >= 4" style="height: 32px; width: 32px; background-color: #40131C;" class="mx-auto rounded-circle text-center text-white p-auto">
          <p class="m-auto">5</p>
        </div>
        <small class="font-weight-light">Kerosakan Sebelum Tuai</small>
      </div>
      <div class="col text-center">
        <div *ngIf="indicator < 5" style="height: 32px; width: 32px; background-color: #40131c81;" class="mx-auto rounded-circle text-center text-white p-auto">
          <p *ngIf="treeType != 'Fatherpalm'" class="m-auto">6</p>
          <p *ngIf="treeType == 'Fatherpalm'" class="m-auto">2</p>
        </div>
        <div *ngIf="indicator >= 5" style="height: 32px; width: 32px; background-color: #40131C;" class="mx-auto rounded-circle text-center text-white p-auto">
          <p *ngIf="treeType != 'Fatherpalm'" class="m-auto">6</p>
          <p *ngIf="treeType == 'Fatherpalm'" class="m-auto">2</p>
        </div>
        <small class="font-weight-light">Tuai</small>
      </div>
    </div>
  </div>

  <div class="w-100 text-center mt-5">
    <p style="color: #626262;">No. Pokok:</p>
    <p class="font-weight-bold h1">{{treeNumber}}</p>
  </div>

  <form #form="ngForm" class="mx-auto my-2" style="max-width: 300px;">
    <ion-item lines="full">
      <ion-label position="floating">Blok</ion-label>
      <ion-input type="text" [(ngModel)]="block" name="block" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">No Daftar</ion-label>
      <ion-input type="text" [(ngModel)]="regNo" name="regNo" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Kitaran</ion-label>
      <ion-input type="text" [(ngModel)]="cycle" name="cycle" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Status Tandan</ion-label>
      <ion-input type="text" [(ngModel)]="status" name="status" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Umur Tandan (Hari)</ion-label>
      <ion-input type="text" [(ngModel)]="age" name="age" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full" *ngIf="pollenName != null">
      <ion-label position="floating">Nombor Pollen</ion-label>
      <ion-input type="text" [(ngModel)]="pollenName" name="pollenName" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full" *ngIf="baggingWorkerName!= null && taskType != 'Balut'">
      <ion-label position="floating">Nama Pekerja Balut</ion-label>
      <ion-input type="text" [(ngModel)]="baggingWorkerName" name="baggingWorkerName" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full" *ngIf="workerName!= null">
      <ion-label position="floating">Nama Pekerja {{workerTask}}</ion-label>
      <ion-input type="text" [(ngModel)]="workerName" name="workerName" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full" *ngIf="defect!= null">
      <ion-label position="floating">Jenis Kerosakan</ion-label>
      <ion-input type="text" [(ngModel)]="defect" name="defect" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full" *ngIf="workerRemark!= null">
      <ion-label position="floating">Catatan Pekerja</ion-label>
      <ion-input type="text" [(ngModel)]="workerRemark" name="workerRemark" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full mb-4" *ngIf="svRemark!= null">
      <ion-label position="floating">Catatan Penyelia</ion-label>
      <ion-input type="text" [(ngModel)]="svRemark" name="svRemark" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full mb-4" *ngIf="pollenDiscarded">
      <ion-label position="floating">Status Pollen</ion-label>
      <ion-input type="text" value="TELAH DILUPUS" required [readonly]="true"></ion-input>
    </ion-item>
  </form>
</ion-content>
