<div class="mx-auto my-auto w-100 text-center">
  <button (click)="btnClick(1)" class="btn btn-outline-danger rounded d-flex flex-row mx-auto w-75 my-2">
    <img src="../../../assets/red_pen_icon.png">
    <p class="mx-2 text-center my-auto">
      {{value}}
    </p>
  </button>
  <button (click)="btnClick(2)" class="btn btn-outline-danger rounded d-flex flex-row mx-auto w-75 my-2">
    <img src="../../../assets/qr_icon.png">
    <p class="mx-2 text-center my-auto">
      Imbas Kod QR
    </p>
  </button>
</div>