<ion-content>
  <app-offline-header></app-offline-header>
  <app-logout-button></app-logout-button>
  <app-user-info-header></app-user-info-header>

  <form #form="ngForm" class="mx-auto my-2" style="max-width: 300px;" (ngSubmit)="btnClick(form)">
    <ion-item lines="full">
      <ion-select placeholder="No Pollen" id= "pollenNumber" #pollenNumber required>
        <ion-select-option *ngFor="let item of pollenList" value={{item.id}}>Pollen-{{item.id}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item  lines="full" class="my-4">
      <ion-select placeholder="Peratus Viabiliti Pollen(%)" id= "id1" #id1 required>
        <ion-select-option value=0%-59%>0%-59%</ion-select-option>
        <ion-select-option value=60%-69%>60%-69%</ion-select-option>
        <ion-select-option value=70%-79%>70%-79%</ion-select-option>
        <ion-select-option value=80%-89%>80%-89%</ion-select-option>
        <ion-select-option value=90%-100%>90%-100%</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="text-center mx-auto mt-4 w-100">
      <button [disabled]="pollenNumber.value == null || id1.value == null" type="submit" class="btn btn-danger text-white d-flex flex-row px-4 py-2 mx-auto">
        <ion-icon size="large" color="white" name="paper-plane-outline"></ion-icon>
        <p class="m-auto">Hantar</p>
      </button>
    </div>
  </form>
</ion-content>
