<ion-content>
  <app-offline-header></app-offline-header>
  <app-logout-button></app-logout-button>
  <app-user-info-header></app-user-info-header>
  <form #form="ngForm" class="mx-auto" style="max-width: 300px;">
    <ion-item lines="full">
      <ion-label position="floating">No Pokok</ion-label>
      <ion-input type="text" [(ngModel)]="treeNumberDisplay" name="treeNumberDisplay" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">No Daftar</ion-label>
      <ion-input type="text" [(ngModel)]="regNumber" name="regNumber" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Kitaran</ion-label>
      <ion-input type="text" [(ngModel)]="cycle" name="cycle" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Status Tandan</ion-label>
      <ion-input type="text" [(ngModel)]="status" name="status" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Umur Tandan (Hari)</ion-label>
      <ion-input type="text" [(ngModel)]="age" name="age" required [readonly]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="svComment!=null && svComment != ''" lines="full">
      <ion-label position="floating">Catatan Penyelia</ion-label>
      <ion-input type="text" [(ngModel)]="svComment" name="svComment" required [readonly]="true"></ion-input>
    </ion-item>
    <div class="w-100 text-center mt-5">
      <button [disabled]="scanInput != null" (click)="promptScan()" type="button" class="btn primary-red text-white mx-auto">Seterusnya</button>
    </div>
  </form>
</ion-content>
